@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Check Email";
}

<h2>Email Verified</h2>
<p class="email-verified-text">A verification email has been sent to your email address. Please check your inbox and click the link to complete your registration.</p>