@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Error Message";
}

@section Styles {
    <link rel="stylesheet" href="/css/error.css" /> 
}

    <img class="main-bot" src="/assets/404-image.svg" alt="404" />
    <h1 class="error-title">Oops, This Page Could Not Be Found</h1>
    <p class="error-message">The page you are looking for might have been removed, has its name changed, or is temporarily unavailable</p>
    <button class="go-to-homepage">BACK TO HOME</button>