@model CareerAI.Models.ViewModel.ResetPasswordViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Change Password";
}

@section Styles {
    <link rel="stylesheet" href="~/css/ChangePassword.css" /> 
}

<div class="main-container">
    <div class="left">
        <h1>Forgot</h1>
        <h2>Password</h2>
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Otp" />
            <div class="password-container input">
                <label>New Password</label><br>
                <input type="password" asp-for="NewPassword" name="NewPassword" id="newPassword" placeholder="New Password" required>
            </div>
            <div class="password-container input">
                <label>Confirm Password</label><br>
                <input type="password" name="ConfirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <div class="show-pass">
                 <button class="show-pass-btn">Show Password</button>
                <button type="button" id="toggleNewPassword">
                    <img src="/assets/icons/show-pass.svg" alt="Show Password" id="toggleNewPasswordImage">
                </button>
            </div>
            <input type="submit" value="CHANGE PASSWORD" class="submit-btn">
        </form>
    </div>
    <div class="right">
        <img src="/assets/ForgotPass/change-password-image.svg">
    </div>
</div>

<script>
document.querySelector('.show-pass-btn').addEventListener('click', function (event) {
    event.preventDefault(); 
    togglePasswordVisibility();
});

document.getElementById('toggleNewPassword').addEventListener('click', function (event) {
    event.preventDefault(); 
    togglePasswordVisibility();
});

function togglePasswordVisibility() {
    var newPasswordInput = document.getElementById('newPassword');
    var confirmPasswordInput = document.getElementById('confirmPassword');
    var passwordImage = document.getElementById('toggleNewPasswordImage');
    var showPassBtn = document.querySelector('.show-pass-btn'); 

    if (newPasswordInput.type === 'password') {
        newPasswordInput.type = 'text';
        confirmPasswordInput.type = 'text';
        passwordImage.src = '/assets/icons/hide-pass.svg';
        passwordImage.alt = 'Hide Password';
        showPassBtn.textContent = 'Hide Password';
    } else {
        newPasswordInput.type = 'password';
        confirmPasswordInput.type = 'password';
        passwordImage.src = '/assets/icons/show-pass.svg';
        passwordImage.alt = 'Show Password';
        showPassBtn.textContent = 'Show Password'; 
    }
}
</script>