
.main-container {
    background-color: #FCF4E7;
    background-image: url('/assets/ForgotPass/cat-bg.svg');
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 9%;
}

.right {
    width:40%;
    display: flex;
    justify-content: center;
}

.right img {
    width: 95%;
}

.left {
    width: 60%;
    padding: 0 8% 0 2%;
}

.left h1 {
    width: 300px;
    font-family:'Ultra';
    font-weight: 500;
    color: #202C4D;
    font-size: 4rem;
}

.left h2 {
    width: 300px;
    font-family:'Ultra';
    font-weight: 500;
    color: #202C4D;
    font-size: 3.8rem;
    margin-top: -10px;
    margin-bottom: 7%;
}

.message {
    margin: 5% 0 15% 0;
    font-family:'Montserrat';
    font-weight: 400;
    font-size: 1.1rem;
    color: #888888;
}


label {
    font-family:'Montserrat';
    color: #202C4D;
    font-weight: 600;
    font-size: 1.05rem;
}

input[type="password"],input[type="text"] {
    font-size: 1rem;
    width: 100%;
    font-family: 'Montserrat';
    margin: 2% 0 5% 0;
    border-radius: 30px;
    border: 2px solid #302F35;
    padding: 3% 4%;
}

.show-pass {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 7.5%;
}

.show-pass-btn {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: .95rem;
    background: none;
    color:#202C4D;
    border: none;
}

#toggleNewPassword {
    background: none;
    border: none;
    filter: invert(11%) sepia(23%) saturate(7458%) hue-rotate(205deg) brightness(30%) contrast(98%);
}


.submit-btn {
    width: 100%;
    padding: 2.5% 0;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    color:#202C4D;
    font-weight: 900;
    background-color:#FFD661;
    border-radius: 25px;
    border: 2px solid black;
    cursor:pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-btn:hover {
    background-color: #202C4D;
    color: #FFD661;
}
